body {
    margin: 0%;
    background-color: rgb(255, 255, 255);
}

header {
    position: fixed;
    top: 0px;
    left: 0%;
    right: 0;
    height: 50px;
    background-color: lightcoral;

}

nav {
    position: fixed;
    top: 0px;
    left: 15%;
    right: 0;
    height: 50px;
    z-index: 1;
    background-color: lightgoldenrodyellow;
}

aside {
    position: fixed;
    margin: 0;
    border-right-style: solid;
    top: 50px;
    left: 0;
    width: 15%;
    min-height: calc(100vh - 50px);
    overflow: auto;
    background-color: lightgreen;
}

main {
    position: absolute;
    top: 50px;
    left: 15%;
    right: 0;
    background-color: lightseagreen;
    height: 100vh;
    min-height: calc(100vh - 50px);
}